// Variable overrides
$primaryTeal :#219C8B;
$secondaryTeal: #05AB9F;
$primaryOrange: #E9892A;
$secondaryOrange: #F79623;
$primaryBlack: #000000;
$secondaryBalck: #323232;
$primaryWhite: #FFFFFF;
$secondaryWhite:#F6F6F6;
$lightWhite: #ECECEC;
$sdrlgtWhite: #EBEBEB;